@page "/crear-badge"
@using GestionAsistente.BlazorUI.Components.Layout
@using GestionAsistente.BlazorUI.Controlador
@using GestionAsistente.BlazorUI.Data
@using GestionAsistente.Entidades
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@rendermode InteractiveServer
@layout LayoutPrincipal
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Crear Badge</h3>

<EditForm Model="badge" OnValidSubmit="RegistrarBadge" FormName="crearBadgeForm">
    
    <div class="mb-3">
        <label for="horaInicio">Hora de Inicio</label>
        <InputSelect id="horaInicio" class="form-select" @bind-Value="horaInicio" @oninput="OnHorarioChanged">
            <option value="">Seleccione la hora de inicio</option>
            @foreach (var hora in horasDelDiaInicio)
            {
                <option value="@hora">@hora</option>
            }
        </InputSelect>
    </div>

    <div class="mb-3">
        <label for="horaFinal">Hora de Final</label>
        <InputSelect id="horaFinal" class="form-select" @bind-Value="horaFinal">
            <option value="">Seleccione la hora de finalización</option>
            @foreach (var hora in horasDelDiaFinal)
            {
                <option value="@hora">@hora</option>
            }
        </InputSelect>
    </div>

    <div class="mb-3">
        <label for="unidadID" class="form-label">Unidad</label>
        <InputSelect id="unidadID" class="form-control" @bind-Value="badge.UnidadID">
            <option value="">Sin unidad</option>
            @foreach (var unidad in listaUnidades)
            {
                <option value="@unidad.UnidadID">@unidad.Nombre</option>
            }
        </InputSelect>
    </div>

    <div class="mb-3">
        <label for="cantidadACrear" class="form-label">Cantidad a crear</label>
        <InputNumber id="cantidadACrear" class="form-control" @bind-Value="cantidadACrear" />
    </div>


    <button type="submit" class="btn btn-primary" disabled="@EsFormularioInvalido()">Registrar</button>
</EditForm>
@if (mensajeExito != null)
{
    <div id="ModalsConfirmacion" class="modal fade show d-sm-inline-block" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content custom-modal">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmación</h5>
                    <button type="button" class="close" @onclick="CerrarModal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@mensajeExito</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btnAceptar" @onclick="CerrarModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
}
@if (mensajeError != null)
{
    <div id="ModalsConfirmacion" class="modal fade show d-sm-inline-block" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content custom-modal">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmación</h5>
                    <button type="button" class="close" @onclick="CerrarModalError" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@mensajeError Error al registrar</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btnAceptar" @onclick="CerrarModalError">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private AuthenticationState authState;
    private ClaimsPrincipal usuarioAutenticado;
    private string nombreUsuarioAutenticado;
    private ApplicationUser usuarioIdentity;

    BadgeControlador badgeControlador = new BadgeControlador();
    UnidadControlador unidadControlador = new UnidadControlador();
    string mensajeExito;
    string mensajeError;
    string horaInicio, horaFinal = "", horario;
    string simboloRangoHoras = "a";
    int cantidadACrear = 1;
    List<Unidad> listaUnidades = new List<Unidad>();

    public HistorialAccionesControlador historialAccionesControlador = new HistorialAccionesControlador();
    public HistorialAcciones historialAcciones = new HistorialAcciones
    {
        
    };

    protected override async Task OnInitializedAsync()
    {

        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        usuarioAutenticado = authState.User;

        // Comprobar si el usuario está autenticado y asignar valores
        if (usuarioAutenticado.Identity?.IsAuthenticated ?? false)
        {
            nombreUsuarioAutenticado = usuarioAutenticado.Identity.Name;

            // Obtener el usuario desde el UserManager
            usuarioIdentity = await UserManager.FindByNameAsync(nombreUsuarioAutenticado);

            // Asignar el nombre de usuario al historial de acciones
            historialAcciones.NombrePersona = nombreUsuarioAutenticado;
        }
        
        listaUnidades = await unidadControlador.ListarUnidades();

    }
    private Badge badge = new Badge()
    {
            Unidad = new Unidad(),
            Ocupado = false,
            Justificacion = "",
            Activo = true
    };

    // Lista de horas (de 7 a 20)
    private List<string> horasDelDiaInicio = new()
    {
        "07:00",
        "08:00",
        "09:00",
        "10:00",
        "11:00",
        "12:00",
        "13:00",
        "14:00",
        "15:00",
        "16:00",
        "17:00"
    };

    private List<string> horasDelDiaCompletas = new()
    {

        "07:00",
        "08:00",
        "09:00",
        "10:00",
        "11:00",
        "12:00",
        "13:00",
        "14:00",
        "15:00",
        "16:00",
        "17:00",
        "18:00"

    };

    private List<string> horasDelDiaFinal = new()
    {
    };


    private async Task RegistrarBadge()
    {  

        try
        {
            bool exito = false;
            badge.Horario = $"{horaInicio} {simboloRangoHoras} {horaFinal}";

            for (int i = 1; i <= cantidadACrear; i++)
            {

                exito = await badgeControlador.RegistrarBadge(badge);

                //Establecer propiedades para historialAcciones de registrar
                historialAcciones.Accion = "Registrar badge: " + badge.BadgeID;
                historialAcciones.Fecha = DateTime.Now;

                await historialAccionesControlador.RegistrarHistorialAcciones(historialAcciones);
            }


            if (exito)
            {
                mensajeExito = "Badge registrado con éxito.";
                mensajeError = null;

            }
            else
            {
                mensajeExito = null;
                mensajeError = "Hubo un problema al registrar el badge.";
            }
        }
        catch (Exception ex)
        {
            mensajeError = $"Error: {ex.Message}";
            mensajeExito = null;
        }

        StateHasChanged();
    }

    private async Task OnHorarioChanged(ChangeEventArgs e)
    {
        var horaInicioSeleccionada = e.Value?.ToString();

        if (!string.IsNullOrEmpty(horaInicioSeleccionada))
        {
            horasDelDiaFinal = horasDelDiaCompletas
                .Where(h => string.Compare(h, horaInicioSeleccionada) > 0)
                .ToList();
        }

        horaFinal = horasDelDiaFinal.FirstOrDefault();

        StateHasChanged();

    }

    private bool EsFormularioInvalido()
    {
        return string.IsNullOrEmpty(horaInicio) || string.IsNullOrEmpty(horaFinal) || cantidadACrear <= 0;
    }

    private void CerrarModal()
    {
        mensajeExito = null;
        StateHasChanged(); // Actualiza el estado para ocultar el modal en la interfaz
    }

    private void CerrarModalError()
    {
        mensajeError = null;
        StateHasChanged(); // Actualiza el estado para ocultar el modal en la interfaz
    }

}